body{
	background-color: white;
	padding-left: 15px;
	margin:40px;
}

 .box {
  background-image: url("{{event.photo_url}}") width:55px height:55px;
}

.div1 {
    width: 16.67%;
    box-sizing: border-box;
}

.div2 {
    width: 16.67%;
    padding: 50px;
    box-sizing: border-box;
}
.div3 {
    width: 16.67%;
    padding: 50px;
    box-sizing: border-box;
}
.div4 {
    width: 16.67%;
    padding: 50px;
    box-sizing: border-box;
}
.div5 {
    width: 16.67%;
    padding: 50px;
    box-sizing: border-box;
}
.div6 {
    width: 16.67%;
    padding: 50px;
    box-sizing: border-box;
}
.titles {
	display: block;
font-size: 20px;
}
